<h2>Login to Your Account</h2>

<form method="POST" action="/login">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit">
</form>