<h2>Create an acoount</h2>

<form method="POST" action="/signup">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit">
</form>