<link rel = "stylesheet" type = "text/css" href = "/stylesheets/users/new.css" />
<div class="container">
<%= @user.errors.full_messages if !@user.errors.full_messages.empty?%>
<h2>Sign Up</h2>
<p>Please fill in this form to create an account</p>
    <form method="POST" action="/signup">
        <div class="container">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter Username">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Enter Email">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" class="loginbtn" value="Sign up">
        </div>
    </form>
</div>
<div class="container signin">
<p>Already have an account? <a href="/login">Log In</a>.</p>
</div>