<link rel = "stylesheet" type = "text/css" href = "/stylesheets/cities/cities_new.css" />
<form action="/cities" method="POST">

<div class="topnav">
  <a href="/cities">See my List</a>
</div>

<div class="container">
  <h1>Update a Bucket List Item!</h1>
  <br>
  
  <label for="country[name_new]" class="country">Country</label></br>
  <input type="text" name="country[name_new]" value="<%=@country.name%>"></br>

  <h3>Cities</h3>
  <hr>
  <% count = 1 %>
  <% @country.cities.each do |city| %>
    <label for="country[cities][][name]">City No. <%=count%></label></br></br>
    <input type="text" name="country[cities][][name]" value="<%=city.name%>"></br>

    <label for="country[cities][][trip_details]">Trip Details</label></br>
    <textarea name="country[cities][][trip_details]" placeholder="<%=city.trip_details%>"></textarea></br>
        <% count += 1 %>
  <%end%>
  <hr>

  <input type="submit" value="Update" class="submitbtn">
</form>
