<link rel = "stylesheet" type = "text/css" href = "/stylesheets/cities/cities_new.css" />
<form action="/cities" method="POST">
<div class="container">
  <h1>Create a Bucket List Item!</h1>

  <label for="country[name]" id="country" >Country</label></br>
  <input type="text" name="country[name]" placeholder="Country you want to visit"></br>

  <h3>Cities</h3>
  <hr>
  <label for="country[cities][][name]">City No. 1</label></br></br>
  <input type="text" name="country[cities][][name]" placeholder="City you want to visit"></br>

  <label for="country[cities][][trip_details]">Trip Details</label></br>
  <textarea name="country[cities][][trip_details]" placeholder="What would you like to do?"></textarea></br>

  <label for="country[cities][][name]">City No. 2</label></br></br>
  <input type="text" name="country[cities][][name]" placeholder="City you want to visit"></br>

  <label for="country[cities][][trip_details]">Trip Details</label></br>
  <textarea name="country[cities][][trip_details]" placeholder="What would you like to do?"></textarea></br>

  <label for="country[cities][][name]">City No. 3</label></br></br>
  <input type="text" name="country[cities][][name]" placeholder="City you want to visit"></br>

  <label for="country[cities][][trip_details]">Trip Details</label></br>
  <textarea name="country[cities][][trip_details]" placeholder="What would you like to do?"></textarea></br>
  <hr>

  <input type="submit" value="Create" class="submitbtn">
</form>
