<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to The Travel Bucket List App !!</h2>

    <div class="content">
      <h3>Please <a href="/login">Log In</a> or <a href="/signup">Sign up</a>.<h3> 
    </div>



</div>
